section#about-me {
    width: 80%;
    height: 500px;
    background: aqua;
    margin: auto;
    padding: 10px;
}
div#about-img {
    width: 15%;
    height: 400px;
    float: left;
}
div#about-body {
    margin-left: 45%;
    height: 400px;
}