body {margin: 0; padding: 0; }

ul, ol {padding-left: 25px;}
a img {border: none;}

h1#site_heading {margin: 0; padding: 0; float:left;}
h2#site_subheading {margin: 0; padding: 0; float:right;}
h3.title {margin-bottom: 0px;}

#header_text {overflow: hidden;}

#primary_navigation {zoom: 1; overflow: hidden; clear:left; }
#primary_navigation ul { list-style: none; margin: 0 auto; padding: 0; width: 960px;}
#primary_navigation ul li {display: inline-block;margin: 0; padding: 0;}


#main .location, #right .location, #left .location, #top .location { padding : 5px; padding-top : 0; }
.metadata {padding: 5px;}
.metadata div {display: inline;}

.component { padding : 0 15px; }
